<section
  id="home"
  class="flex flex-col items-center justify-center text-center space-y-4"
>
  <h1 class="text-primary-500 text-6xl font-anton" appObserveSlideUp>
    WELCOME TO KILLER GF
  </h1>
  <p style="font-weight: 500" class="text-lg" appObserveSlideUp>
    Killer GF is a 7,777 generative portrait art collection by a former Riot
    Games Artist, Zeronis, with over 240 meticulously designed features that
    contrasts cute and aesthetically appealing girlfriends that also happen to
    be dangerous assassins.
  </p>
  <button
    nz-button
    nzType="primary"
    nzSize="large"
    nzShape="round"
    class="font-semibold p-6"
    appObserveSlideUp
  >
    VIEW ON OPENSEA
  </button>
  <img src="assets/images/img/1.png" appObserveSlideUp />
</section>
