<div>
  <div
    class="flex flex-col items-center space-y-6 max-w-5xl mx-auto pt-20 sm:pt-24 lg:pt-32 pb-8"
  >
    <img src="assets/images/svg/test_images_1.png" />
    <h1
      class="font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center text-white"
    >
      About the Project
    </h1>
    <div class="text-center space-y-2 text-slate-200">
      <p>
        Wrestling with a bunch of complex media queries in your CSS sucks, so
        Tailwind lets you build responsive designs right in your HTML instead.
      </p>
      <p>
        Throw a screen size in front of literally any utility class and watch it
        magically apply at a specific breakpoint.
      </p>
    </div>
    <img src="assets/images/svg/test_images_2.png" />
    <h1
      class="font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center text-white"
    >
      Join the Community
    </h1>
    <div class="text-center space-y-2 text-slate-200">
      <p>Join the discord and become part of our amazing community</p>
    </div>
    <button
      class="h-20 w-60 px-6 font-semibold rounded-md border border-slate-200 text-slate-900 bg-purple-400 hover:bg-opacity-10 transition duration-150 ease-in-out hover:scale-110"
      type="button"
    >
      JOIN THE DISCORD
    </button>
  </div>
</div>
