<div class="w-full bg-white space-y-4 md:flex md:w-90">
  <img [src]="avatar" alt="" class="md:!w-2/5" />
  <div class="space-y-4 flex flex-col">
    <h1 class="text-primary-500 text-lg font-semibold md:text-3xl lg:text-6xl">
      {{ name }}
    </h1>
    <p
      style="font-weight: 600"
      class="px-6 font-bold grow lg:text-2xl lg:px-12"
    >
      {{ description }}
    </p>
    <a href="https://twitter.com/bigwomennft" class="flex justify-end">
      <img
        src="assets/images/link_icon/twitter.svg"
        alt=""
        class="icon text-right !w-8 lg:!w-20"
      />
    </a>
  </div>
</div>
