<div class="flex justify-between items-center animate-slideUp">
  <img src="assets/images/logo/logo.png" class="h-16" />
  <ng-container *ngIf="currentBreakpoint === Breakpoints.Large">
    <app-menu-items></app-menu-items>
    <app-social-items></app-social-items>
  </ng-container>
  <ng-container *ngIf="currentBreakpoint !== Breakpoints.Large">
    <i
      *ngIf="!isMenuOpen"
      nz-icon
      nzType="menu"
      nzTheme="outline"
      (click)="handleClickMenuIcon(true)"
      class="text-4xl text-black"
    ></i>
    <i
      *ngIf="isMenuOpen"
      nz-icon
      nzType="close"
      nzTheme="outline"
      (click)="handleClickMenuIcon(false)"
      class="text-4xl text-black"
    ></i>
  </ng-container>
</div>
<div
  *ngIf="currentBreakpoint !== Breakpoints.Large && isMenuOpen"
  [appObserveSlideUp]="true"
>
  <app-menu-items></app-menu-items>
  <app-social-items></app-social-items>
</div>
